.footer {
  background-color: #ebebeb;
}

.info_container {
  padding: 50px 0 20px 0;
  display: flex;
  width: 700px;
}

.email_container,
.telNr_container,
.location_container {
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 0px;
  border-radius: 5px;
}

.email_container {
  width: 270px;
}

.telNr_container {
  width: 200px;
}

.location_container {
  width: 180px;
}

.email_image,
.telNr_image,
.location_image,
.github_image,
.linkedIn_image,
.email_image_light,
.telNr_image_light,
.location_image_light,
.github_image_light,
.linkedIn_image_light {
  width: 23px;
}

.email_image, .email_image_light {
  margin-right: -10px;
}

.telNr_image, .telNr_image_light {
  margin-right: -20px;
}

.location_image, .location_image_light {
  margin-right: -30px;
}

.apps_container {
  margin-bottom: 50px;
  display: flex;
  width: 80px;
}

.copyright {
  font-size: 10px;
  padding-bottom: 10px;
}