.theme-light {
  background-color: #fff;

  /* FOOTER */
  .email_image_light,
  .telNr_image_light,
  .location_image_light,
  .github_image_light,
  .linkedIn_image_light {
    display: none;
  }
}

.theme-dark {
  background-color: black;
  color: #fff;
  height: 100%;

  header {
    background-color: black;
    border-bottom: 1px solid #1a1a1a;
  }

  /* HOME */
  h1,
  .navigation_links {
    color: white;
  }

  .button_theme {
    background-color: white;
    color: black;
  }

  .hero_image_role {
    color: rgb(95, 95, 95);
  }

  .project_article {
    background-color: #1a1a1a;
    box-shadow: none;
  }

  .project_title {
    color: white;
    text-decoration: underline;
    text-decoration-color: #1a1a1a;
  }

  /* FOOTER */
  .footer {
    background-color: #1a1a1a;
  }

  .email_container,
  .telNr_container,
  .location_container {
    background-color: black;
  }

  .email_image,
  .telNr_image,
  .location_image,
  .github_image,
  .linkedIn_image {
    display: none;
  }

  /* ABOUT */
  .aboutMe_text {
    background-color: #1a1a1a;
  }

  .section_container {
    border: 1px solid #1a1a1a;
    box-shadow: 2px 2px 2px #1a1a1a;

  }

  .section_title {
    background-color: #1a1a1a;
    color: white;
    border: 1px solid #1a1a1a;
  }

  /* CONTACT */
  .form {
    background-color: #1a1a1a;
    box-shadow: none;
  }

  input,
  .question_input {
    background-color: black;
  }

  .sendButton {
    background-color: white;
    color: black;
  }
}
