.theme-light {
  background-color: #fff;

  .email_image_light,
  .telNr_image_light,
  .location_image_light,
  .github_image_light,
  .linkedIn_image_light {
    display: none;
  }
}

.theme-dark {
  background-color: black;
  color: #fff;
  height: 100%;

  header {
    background-color: black;
    border-bottom: 1px solid #1a1a1a;
  }

  h1,
  .navigation_links {
    color: white;
  }

  .button_theme {
    background-color: white;
    color: black;
  }

  .hero_image_role {
    color: rgb(95, 95, 95);
  }

  .project_article {
    background-color: #1a1a1a;
  }

  .project_title {
    color: white;
  }

  .footer {
    background-color: #1a1a1a;
  }

  .email_container,
  .telNr_container,
  .location_container {
    background-color: black;
  }

  .email_image,
  .telNr_image,
  .location_image,
  .github_image,
  .linkedIn_image {
    display: none;
  }

  .aboutMe_text {
    background-color: #1a1a1a;
  }

  .section_container {
    border: 1px solid #1a1a1a;
  }

  .section_title {
    background-color: #1a1a1a;
    color: white;
    border: 1px solid #1a1a1a;
  }

  .form {
    background-color: #1a1a1a;
  }

  input,
  .question_input {
    background-color: black;
  }

  .sendButton {
    background-color: white;
    color: black;
  }
}
